{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/User.css' %}">
  <title>Signup</title>
</head>
<body>
  <div class="container-fluid">
    <form method="post">
     {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
    </form>

  </div>
  
  <script src="{% static 'js/User.js' %}"></script>
</body>
</html>